<div class="container-father-login">
  <app-menu2></app-menu2>

  <div class="container-container">
    <div class="container">
      <div class="img-container"></div>
      <div class="container-fomrs-father">
        <form action="">
          <div class="container-forms">
            <img  class="icon-crerCuenta" src="../../../../assets/img/icon.png" alt="">
            <p class="titulo-crear">Iniciar sesion</p>
            <input type="text" class="input-txt-form" placeholder="Correo electronico">
            <input type="text" class="input-txt-form" placeholder="contraseña">
            <button class="btn-iniciar">iniciar Sesion</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
