<div class="container-home-img">

  <div class="container-home-father">

    <app-menu1></app-menu1>
    <div class="container-home">
      <div class="contetainer-content">
        <p class="txt-1" >Firma tus</p>
        <p class="txt-2" >documentos <strong class="txt-2-1">atravez de</strong></p>
        <p class="txt-3">My<strong class="txt-3-1">APP</strong></p>

        <p class="txt-4">crea tu cuenta antes de empezar</p>
        <button class="btn-crear-cuenta" (click)="btncrearCuenta()">Crear Cuenta</button>
      </div>
    </div>

  </div>
</div>

