.container-menu-father{
  padding: 15px 0 15px 0;
  display: flex;
  justify-content: space-between;
}
.logo-text{
  padding: 10px 0;
}
.btn-principarl{
  border: none;
  padding: 10px 15px 10px 15px;
  background-color: white;
  color: #9EA8DF;
  font-size: 15px;
}
.btn-iniciar-seccion{
  padding:  10px 15px 10px  15px ;
  font-size: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border: none;
  border-radius: 5px;
  background-color: white;
  margin-left: 15px;
  color: #3F528C;
  font-weight: 600;
}
.btn-iniciar-seccion:hover{
  transform: scale(1.03);
}
