.container-sign-in-father{
  width: 87%;
  margin: auto;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.container{
  background-color: white;
  margin: auto;
  width: 95%;
  height: 95%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
